@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dice {
    height: 100px;
    border-style: solid;
    border-radius: 20px;
    margin:20px 20px 10px 20px ;
}
.diceDiv{
    display: inline-block;
}
th,td{
    border: 1px solid black;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    font: bold;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
#point{

  }
div{
    text-align: center;
}
input.largerCheckBox{
    transform: scale(2);
    margin: auto;
}
#throwDice {
    background-color: rgb(222, 128, 5);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    cursor:pointer;
}