.isgud-back{
       
        background: linear-gradient(
        to right,
        rgba(213, 161, 112, 0.485),
        rgba(126, 162, 59, 0.615)),
        url(/image/aiBild.png);
        background-size: cover;
        
}
.isgud-back-arrow{
        height: 95vh;
        background: linear-gradient(
        to right,
        rgba(213, 161, 112, 0.485),
        rgba(126, 162, 59, 0.615)),
        url(/image/aiBild.png);
        background-size: cover;
        clip-path: polygon(0 25%, 60% 25%, 60% 0, 100% 50%, 60% 100%, 60% 75%, 0 75%);     
}

.main {
        font-family: "Tangerine", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.7;
        color: #777;
        padding: 30px;
}
    
    
.header {
        height: 95vh;
        background-image: linear-gradient(
            to right, 
            rgba(127, 213, 112, 0.8), 
            rgba(40, 180, 133, 0.8)) , 
            url(/image/aiBild.png);
        background-size: cover;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        position: relative;
}
    
.logo-box {
position: absolute;
top: 40px;
left: 40px;
}

.greensun-logo {
height: 60px;
}

.text-box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.heading-primary {
color: #fff;
text-transform: uppercase;
}

.heading-primary-main {
display: block;
font-size: 40px;
font-weight: 400;
letter-spacing: 35px;
}

.heading-primary-sub {
display: block;
font-size: 29px;
font-weight: 700;
letter-spacing: 18px;
}