body {
    
    padding: 0px; 
    margin: 0px;
}
div,h1,h2,h3,h4,h5,p{
    font-family: 'Comic Neue', cursive; 
}

.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    scrollbar-color: red;
}
.scrollmenu::-webkit-scrollbar{
    height: 10px;
}
.scrollmenu::-webkit-scrollbar-track{
    background: white;
    border-radius: 10px;
}
.scrollmenu::-webkit-scrollbar-thumb{
    background: rgb(46, 46, 46);
    border-radius: 10px;
}
.scrollmenu::-webkit-scrollbar-thumb:hover{
    background: rgb(0, 0, 0);
}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute; 
    width: 30%; 
    height: 75%;
    border-radius: 5px;
}
.header2{

    background-color: rgb(99, 99, 99); 
}
.header-turism{
    background-color: rgb(99, 99, 99); 
    margin-bottom: 0px;
    font-family: 'Comic Neue', cursive; 
    display: flex;
    justify-content: center;
}
.home-button{
    border-radius: 12px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
    position: absolute;
   
}

.header-btn{
    background-color: rgb(99, 99, 99);
    border: 0px solid rgb(0, 0, 0);
    color: black;
    font-family:'Comic Neue', cursive;
    padding-top: 15px; padding-bottom: 15px; padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    
}
.clicked-header-btn{
    background: linear-gradient(
        to top,
        rgba(52, 52, 52, 0.485),
        rgba(99, 99, 99, 0.615));
        background-position: 0px;
        background-size: cover;
    border: 0px solid rgb(0, 0, 0);
    color: black;
    font-family:'Comic Neue', cursive;
    padding-top: 15px; padding-bottom: 15px; padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    
}
.header-btn:hover{
    
    background: linear-gradient(
        to top,
        rgba(52, 52, 52, 0.485),
        rgba(99, 99, 99, 0.615));
        background-position: 0px;
        background-size: cover;
}
.bridge-background{
    object-fit: cover;
    object-position: 0% 60%;
    width: 100%;
    height: 600px;
}
.london-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}
.centered{
    position: absolute;
    top: 50%;
    font-family: 'Comic Neue', cursive; 
    left: 50%;
    transform: translate(-50%, -50%);
}
.loreum-box{
    top: 85%;
    left: 10%;
    padding: 10px;
    width: 80%; 
    height: auto; 
    background-color: #D7BC87; 
    border-radius: 10px; 
    position: absolute; 
}
.transport-text-box{
    position: absolute; 
    background-color: rgba(22, 22, 22, 0.705); 
    width: 100%; height: 20%; 
    top: 80%; 
    color: white; 
    font-size: 25px; 
    border-radius: 0px 0px 10px 10px; 
    text-align: center;
}
.transport-images{
    object-fit: cover; 
    width: 100%; height: 100%; 
    border-radius: 5px;
}