body {
    
    padding: 0px; 
    margin: 0px;
}
.header2{

    background-color: rgb(99, 99, 99); 
}
.header-turism{
    background-color: rgb(99, 99, 99); 
    padding: -5px; 
    margin-bottom: 0px;
    font-family: 'Comic Neue', cursive; 
    display: flex;
    justify-content: center;
}
.home-button{
    border-radius: 12px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    font-size: 10px;
    cursor: pointer;
   
}
.container{
    background-color: rgb(99, 99, 99);
    border: 0px solid rgb(0, 0, 0);
    color: black;
    font-family:'Comic Neue', cursive;
    position: relative;
    font-size: 10px;
    text-align: left;
    
    
}
.header-btn{
    background-color: rgb(99, 99, 99);
    border: 0px solid rgb(0, 0, 0);
    color: black;
    font-family:'Comic Neue', cursive;
    padding-top: 20px; padding-bottom: 20px; padding-right: 40px;
    padding-left: 40px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    
}
.header-btn:hover{
    
    background: linear-gradient(
        to top,
        rgba(52, 52, 52, 0.485),
        rgba(99, 99, 99, 0.615));
        background-position: 0px;
        background-size: cover;
}